/* Reset CSS */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
}

body{
    background: #f0f2f5;
    font-family: 'Poppins', sans-serif ;
}

/* End Reset CSS */

/* Header CSS */

header{
    background: #2d4a22;
    padding: 2rem 0 10rem;
    text-align: center;
}

header #logo{
    color: #fff;
    font-weight: 100;
}


/* End Header CSS */