.container{
  width: 1200px;
  margin: 0 auto;
  &::after, &::before{
    content: '';
    display: table;
    clear: both;
  }
}


.grid-3{
  width: 25%;
  background: rgba(0, 0, 0, .5);
  float: left;
  color: #fff;
  margin: 0 10px;
}
