.container{
  width: 1200px;
  margin: 0 auto;
  &::after, &::before{
    content: '';
    display: table;
    clear: both;
  }
}

$cols: 12;
$gutter: 20px;
$l-device: 1200px;
$m-device: 760px;
$s-device: 480px;

.grid-3{
  width: 25%;
  background: rgba(0, 0, 0, .5);
  float: left;
  color: #fff;
  margin: 0 10px;
}
