.rodape{
    background: #bfbfbf;
    color: #fdfdfd;
    padding: 1.5625rem 5rem;
    text-transform: lowercase;
    text-align: right;
}

/* responsividade */
@media screen and (max-width: 768px){
    .rodape{
        padding: 1.5625rem 2rem;
        text-align: center;
    }
}