.faq-lista{
  grid-column:2 / 4;

  dt{
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: .5rem;
    color: $color-title;

    &::before{
      content: '';
      display: inline-block;
      background: $color-primary;
      width: 20px;
      height: 10px;
      margin-right: 10px;
    }

  }

  dd{
    font-family: Helvetica, Arial;
    margin-bottom: .5rem;
    margin-left: 30px;
  }

}