.header{
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 45px;
}

.header img{
    width: 108px;
}

.header a{
    background-color: #e50914;
    color: #fff;
    padding: 0.625rem 0.9rem;
    border-radius: 4px;
}


.main{
    height: 100vh;
    background: url("../img/bg.jpg") no-repeat center / cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.main h1{
    font-size: 3.125rem;
    max-width: 665px;
}

.main span{
    font-size: 1.625rem;
}

.main p{
    font-size: 1.1875rem;
}

.main-child{
    z-index: 1;
    display: grid;
    justify-items: center;
    margin-top: 60px;
}

.form-cta{
    width: 100%;
    display: flex;
    margin-top: 1.875rem;
    margin-bottom: 0.625rem;
}

.form-cta input{
    flex-grow: 8;
    padding: 1rem 0.625rem;
    font-size: 1.125rem;
}

.form-cta button{
    flex-grow: 2;
    border: 0;
    background:#e50914;
    color: #fff;
    font-size: 1.75rem;
    text-transform: uppercase;
    cursor: pointer;
}

.form-cta button::after{
    content: '';
    background: url("../img/seta.svg");
    width: 10px;
    height: 19px;
    display: inline-block;
}

.gradient{
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
}