.create__fieldset{
    border: 0;
    margin-top: 4rem;
    padding: 0;
}

.create__fieldset__titulo{
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}

.create__field{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

/* .create__field-group:first-child{
    flex: 1;
} */

.create__field-group:nth-child(2n-1) .create__field:first-child{
    flex-grow: 2;
}

.create__field + .create__field{
    margin-left: 1.5rem;
}

.create__field label{
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
}

.create__field input, .create__field select{
    background: #f0f0f5;
    border: 0;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    border-radius: 8px;
}

.create__field select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.create__field-group{
    display: flex;
    flex-wrap: wrap;
}


.create__button{
    background: var(--primary-color);
    width: 260px;
    height: 56px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin-top: 2.5rem;
    transition: 400ms;
}

.create__button:hover{
    background-color: #2fb86e;
}

/* fieldset 2 */

.create__coleta{
    border: 0;
    margin-top: 4rem;
    padding: 0;
}

.items-grid ul{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.items-grid ul li{
    background: #f5f5f5;
    border: 2px solid #f5f5f5;
    border-radius: 8px;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 180px;
    text-align: center;
    cursor: pointer;
}





/* responsivo */
@media (max-width: 660px){
    .create__field-group{
        flex-direction: column;
    }
    .create__field + .create__field{
        margin-left: 0;
    }
}