:root{
    --color-primary: #252525;
    --color-primary-light: #d6d3c8;
    --color-secondary: #e7e4d8;
    --color-secondary-dark: #c0beb4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    font-family: Georgia, serif;
    color: var(--color-primary);
}