/* importando o arquivo reset para dentro do style */
@import "./reset.css";

/* menu */
.header-informacoes {
    font-size: 0.875rem;
    background: var(--color-primary-light);
    text-align: center;
    padding: 5px;
    text-transform: lowercase;
}

.logo img {
    margin: 40px auto;
}

.header-menu {
    border-top: 3px solid var(--color-primary-light);
    border-bottom: 3px solid var(--color-primary-light);
    text-align: center;
    padding: 20px 0;
    margin-bottom: 40px;
}

.header-menu ul li {
    display: inline-block;
}

.header-menu ul li a {
    padding: 5px 10px 5px 0;
    color: var(--color-primary);
    font-size: 1.125rem;
    text-transform: lowercase;
    display: block;
}

.header-menu li:not(:first-child) a::before {
    content: '•';
    padding-right: 10px;
}

/* filtro */

.container {
    max-width: 960px;
    margin: 0 auto;
}

.container::after, .container::before{
    content: '';
    display: table;
    clear: both;
}

.filtro {
    border: 3px solid var(--color-primary-light);
    background: var(--color-secondary);
    padding: 20px;
    margin: 0 10px;
    width: 300px;
    float: left;
}

.filtro h2 {
    padding: 10px 0;
    font-size: 1.125rem;
}

.filtro ul {
    border-top: 3px solid var(--color-secondary-dark);
    border-bottom: 3px solid var(--color-secondary-dark);
    padding: 10px 0;
}

.filtro li {
    font-style: italic;
    font-size: 1.125rem;
    line-height: 2;
}

.filtro li::after {
    content: '';
    border: 3px solid var(--color-secondary-dark);
    width: 20px;
    height: 20px;
    display: block;
    float: right;
}

.sabor {
    overflow: hidden;
}

.sabor span {
    text-indent: -200px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: currentColor;
    vertical-align: middle;
}

.sabor-3 {
    color: #492901;
    box-shadow: 20px 0 0 0 currentColor, 40px 0 0 0 currentColor;
}

.sabor-4 {
    color: #c17139;
    box-shadow: 20px 0 0 0 currentColor, 40px 0 0 0 currentColor, 60px 0 0 0 currentColor;
}

.sabor-5 {
    color: #d7a54d;
    box-shadow: 20px 0 0 0 currentColor, 40px 0 0 0 currentColor, 60px 0 0 0 currentColor, 80px 0 0 0 currentColor;
}

@media (min-width: 740px) and (max-width: 980px){
    .container{
        max-width: 720px;
    }

    .filtro{
        width: 220px;
    }
}

@media (max-width: 739px){
    .container{
        max-width: 300px;
    }

    .filtro{
        display: none;
    }
}


/* Produtos */

.produtos{
    width: 620px;
    margin: 0 10px;
    float: left;
}

.produtos h1{
    font-size: 3rem;
    font-weight: normal;
}

.produtos li{
    width: 300px;
    float: left;
}

.produtos li:nth-child(even){
    margin-left: 20px;
}

.produtos li img{
    border: 3px solid #fff;
    box-shadow: 0 0 0 3px var(--color-primary);
    margin: 40px 3px 0 3px;
}

.produtos li span{
    background: var(--color-secondary);
    padding: 10px;
    font-size: 0.875rem;
    font-weight: bold;
    position: relative;
    top: -15px;
}

.produtos li h2{
    font-size: 0.875rem;
    font-weight: normal;
}

@media (min-width: 740px) and (max-width: 980px){
    .produtos{
        width: 460px;
    }

    .produtos li{
        width: 220px;
    }
}

@media (max-width: 739px){
    .produtos{
        width: 300px;
    }

    .produtos li{
        width: 140px;
    }
}


/* footer */

.footer{
    background: var(--color-secondary);
    padding: 60px 0;
    text-align: center;
    font-size: 1.125rem;
    margin-top: 80px;
}