.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 3rem;
}

@media screen and (max-width: 530px){
    .header{
        justify-content: center;
        flex-direction: column;
    }

    .header__logo{
        padding-bottom: 1.875rem;
    }
}

