.sobre{
    text-align: center;
    padding: 2.5rem;
    max-width: 960px;
    margin: 0 auto;
}

/* responsividade */
@media screen and (max-width: 768px){
    .sobre{
        padding: 1.5rem;
    }
}