*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.65;
}

body::after{
    content: '';
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    /* visibility: hidden; */
    opacity: 1;
}

/* header */

header{
    width: 100%;
}

header .logo{
    text-align: center;
    padding: 0 0 0 60px;
}

header .logo a{
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
}

/* container */

.container{
    max-width: 1100px;
    margin: 60px auto;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

.inner{
    margin: 0px 60px;
}

/* container photo one */

.container .photo-one{
    width: 100%;
}

/* special */

.special{
    padding: 60px 0;
    text-align: center;
    background: #fff;
}

.special h2{
    color: #1e1f23;
    font-size: 1.75rem;
    font-weight: 700;
    position: relative;
    padding-bottom: 20px;
    margin: 0 0 20px 0;
}

.special h2::after{
    content: '';
    position: absolute;
    margin: auto;
    right: 0;
    bottom: 0;
    left: 0;
    width: 10%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.125);
}

.special p{
    text-transform: uppercase;
    font-weight: 300;
    font-size: .8rem;
    letter-spacing: .25rem;
    margin: 0;
    color: #bbb;
}

/* special text */

.special-text{
    padding: 60px 60px;
}

.special-text p{
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}

/* gallery */

.gallery-container{
    background: #1e1f23;
    padding: 6rem;
}

.gallery-container .gallery-text{
    background: #000;
    text-align: center;
}

.gallery-container .gallery-text h2{
    color: #fff;
    font-size: 1.5rem;
    position: relative;
    font-weight: 700;
    padding: 20px 0;
    margin: 20px 0;
}

.gallery-container .gallery-text h2::after{
    content: '';
    position: absolute;
    margin: auto;
    right: 0;
    bottom: 0;
    left: 0;
    width: 10%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.125);
}

.gallery-container .gallery-text p{
    text-transform: uppercase;
    font-weight: 300;
    font-size: .8rem;
    letter-spacing: .2rem;
    margin: 0;
    color: rgba(255, 255, 255, 0.25);
    padding-bottom: 20px;
}

.gallery-container .gallery-photo{
    display: flex;
}

/* spotlight */
.spot-one{
    display: flex;
}

.spot-one:nth-child(2n+2){
    background: #1e1f23;
}

.spot-one img{
    width: 50%;
}

.spot-one .inner{
    align-self: center;
}

.spot-one .inner h3{
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.spot-one:nth-child(2n+2) .inner h3{
    font-size: 1.25rem;
    margin-bottom: 20px;
    color: #fff;
}

.spot-one .inner p{
    color: rgba(0, 0, 0, 0.5);
}

.spot-one:nth-child(2n+2) .inner p{
    color: rgba(255, 255, 255, 0.25);
}

/* footer */

#footer{
    text-align: center;
}

#footer .redes{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

#footer .redes a{
    padding: 0 30px;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.75);
}

#footer p{
    color: rgba(255, 255, 255, 0.75);
    padding-bottom: 30px;
}