@import url('./reset.css');


.container{
    max-width: 960px;
    margin: 0 auto;
}

.header__alert{
    background: var(--color-primary);
    color: var(--text-white);
    padding: 7px 30px;
    font-size: .8rem;
    line-height: 19px;
    letter-spacing: 0.015em;
    font-family: 'Nunito';
    font-weight: bold;
}

.header__nav {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-header);
    color: var(--text-white);
}

.header__nav ul{
    display: flex;
}

.header__nav ul li{
    padding: 5px;
    margin: 0 15px;
    cursor: pointer;
    font-family: 'Nunito';
}

.header__nav li a{
    color: currentColor;
}

.header__nav li a:hover{
    color: var(--color-danger);
    transition: 0.5s;
}

.header__nav ul li:not(:first-child){
    list-style: circle;  
}

.header__nav ul li:last-child{
    border-bottom: 2px solid var(--color-danger);
}

/* MAIN */

.main{
    background: url('../assets/fotos/seth-doyle-151914.jpg');
    height: 400px;
    background-size: cover;
    background-position: center;
    padding: 0 30px 50px;
    color: var(--text-white);
    display: flex;
    align-items: flex-end;
}

.main__content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__content h1{
    font-size: 4.5rem;
    font-weight: 400;
}

.main__content form{
    display: flex;
    width: 450px;
}

.main__content form input{
    flex: 2;
    border-radius: 4px 0 0 4px;
    padding: 12px 10px;
    border: 0;
}

.main__content form input::placeholder{
    font-size: .8rem;
    color: var(--color-text);
    font-family: 'Nunito';
    font-weight: 700;
}

.main__content form button{
    flex: 1;
    background: var(--color-danger);
    border: 0;
    color: var(--text-white);
    text-transform: uppercase;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

/* Beach */

.beach{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 0 30px;
    margin: 60px 0;
}

.map__img{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.map .photo-map{
    margin: -80px auto 0;
    
}

.map__content{
    max-width: 540px;
    margin: 0 auto;
}

.map__content li{
    padding: 10px 0;
    color: var(--color-text);
    font-size: .875rem;
    font-family: 'Nunito';
}

.map__content li:first-child{
    color: var(--text-black);
    font-weight: bold;
}

.map__content li:first-child::before{
    content: '';
    display: inline-block;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    border: 3px solid var(--color-danger);
    background: transparent;
    margin-right: 5px;
    vertical-align: middle;
}

.map__content li span{
    color: var(--text-black);
    font-weight: bold;
}

.map__content li span::before{
    content: '';
    display: inline-block;
    height: 2px;
    width: 10px;
    background: var(--color-primary);
    margin-right: 5px;
    vertical-align: middle;
   
}

.information{
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 74px
}

.information span{
    color: var(--color-primary);
}