/* Experience Bar */

.experienceBar{
    display: flex;
    align-items: center;
}

.experienceBar span{
    font-size: 1rem;
}

.experienceBar > div{
    flex: 1;
    height: 4px;
    border-radius: 4px;
    background: var(--gray-line);
    margin: 0 1.5rem;
    position: relative;
}

.experienceBar > div > div{
    
    height: 4px;
    border-radius: 4px;
    background: var(--green);
    transition: all 2s;
    
}

span.currentExperience{
    position: absolute;
    top: 12px;
    transform: translateX(-50%);
    transition: all 2s;
    font-size: .6rem;
    padding: 8px 5px 5px;
    background: var(--green);
    color: var(--white);
    clip-path: polygon(50% 0, 100% 25%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0 100%, 0 100%, 0 100%, 0 25%);
}