div {
	width: 200px;
}


//* while
$numero: 1;
// @while $numero <= 6{
// 	.type-#{$numero}{
// 		font-size: 16 * $numero + px;
// 	}
// 	$numero: $numero + 1
// }

//* For
$max-width: 768;
$max-columns: 16;
$gutter: 20;

// @for $i from 1 through $max-columns{
// 	$width: percentage($i / $max-columns);
// 	.porcento-#{$i}{
// 		width: $width;
// 	}
// }

// @for $i from 1 through $max-columns{
// 	$width: ($max-width / $max-columns) * $i - $gutter;
// 	.grid-#{$i}{
// 		width: $width + px;
// 	}
// }

//* each

$lista: facebook twitter snapchat instagram;

@each $item in $lista{
	.rede-#{$item}{
		background: url('../img/#{$item}.png');
	}
}