/* header */

.cabecalhoPrincipal .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav{
    display: flex;
}

/* footer */
.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-contantoForm{
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset{
    display: flex;
    justify-content: center ;
}

/* mapa de cursos */

.rodapePrincipal-navMap-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.listaCursos{
    display: flex;
    flex-direction: column;
}

/* cursos */

.conteudoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link{
    width: 23%;
    margin: 1%;
}

/* .conteudoPrincipal-cursos-link:nth-child(4n+4){
    margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-child(1n+4){
    margin-left: 0;
} */



/* mobile */
@media(max-width: 768px){

    .cabecalhoPrincipal .container, .cabecalhoPrincipal-nav{
        flex-direction: column;
        align-items: stretch;
        text-align: center;
    }


    .conteudoPrincipal-cursos-link{
        width: 100%;
        margin: 1%;
    }

    .rodapePrincipal-patrocinadores-list{
        width: 100%;
     }

    .conteudoPrincipal, .rodapePrincipal-navMap-list, .rodapePrincipal-patrocinadores .container {
        flex-direction: column;
    }

   
}

@media(min-width: 769px) and (max-width: 1200px){

    /* .cabecalhoPrincipal .container, .cabecalhoPrincipal-nav{
        flex-direction: column;
        align-items: stretch;
        text-align: center;
    } */


    .conteudoPrincipal-cursos-link{
        width: 31%;
        margin: 1%;
    }
}
