/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    font-family: Georgia, serif;
    color: #252525;
    background: #e7e4d8;
}

.container{
    max-width: 960px;
    margin: 0 auto;
}

/* Menu */

.header{
    background: #d6d3c8;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.header-menu ul{
    display: flex;
    flex-wrap: wrap;
}

.header-menu li:first-child{
    padding-left: 0;
}


.header-menu li{
     /* border: 1px solid tomato; */
     padding: 10px;
     cursor: pointer;
     color: #252525
}

@media(max-width: 420px){
    .header-logo{
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

/* main */
.main{
    display: flex;
}
/* sidenav */
.sidenav{
    flex: 1 0 300px;
    /* width: 300px; */
    /* margin: 0 15px 0 0; */
    background: #252525;
}

.sidenav li a{
    display: block;
    color: #fff;
    border-bottom: 2px solid #484846;
    font: 1.125rem;
    padding: 20px;
}

.sidenav li a::before{
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../img/icones.png');
    position: relative;
    top: 5px;
    margin-right: 15px;
}

.nav-contabilidade::before{
    background-position: 0 -0px;
}

.nav-produtos::before{
    background-position: 0 -24px;
}

.nav-paginas::before{
    background-position: 0 calc(-24px * 2);
}

.nav-plugins::before{
    background-position: 0 calc(-24px * 3);
}

.nav-formularios::before{
    background-position: 0 calc(-24px * 4);
}

.nav-hospedagem::before{
    background-position: 0 calc(-24px * 5);
}



/* produtos */
.produtos{
    flex: 2 0 calc(100% - 300px);
    margin: 0 auto;
    max-width: 960px;
    padding: 20px;
}

.header-produtos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    flex-wrap: wrap;
}

.header-produtos h1{
    font-size: 2.5rem;
}

.header-produtos a{
    color: #e7e4d8;
    padding: 10px 20px;
    background-color: #c17139;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.125rem;
    font-family: Courier, monospace;
}