.create-header__titulo{
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #322153;
}


.create-header__titulo span{
    background-image: url('../../img/arrow-left.svg');
    width: 1.25rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    margin-right: 16px;
}