*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    display: block;
    max-width: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Ubuntu', sans-serif;
    color: #322153;
}

:root{
    --primary-color: #34cb79;
}