:root{
    --color-text-white: #fff;
    --color-primary: #51BAA4;
}
/* importando a font raleway */
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,700");


/* Reset */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body, input, select, textarea{
    font-family: "Raleway", Helvetica, sans-serif;
}
/* banner */

.banner{
    background-image: url('../img/overlay.png'), url('../img/banner.jpg');
    background-position: center;
    object-fit: contain;
    text-align: center;
    background-attachment: fixed;
}

.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
font-size -> 3 rem -> 48px
conta -> 48(3rem) * 2.25em = 108px
height -> 2.25em -> pai * filho -> 108px

*/

.banner__icon{
    border-radius: 100%;
    border: solid 2px var(--color-text-white);
    color: var(--color-text-white);
    display: inline-block;
    font-size: 3rem;
    height: 2.25em;
    line-height: 1.25em;
    margin-bottom: 0.5em;
    padding: 0.5em;
    width: 2.25em;
}

.banner__titulo{
    color: var(--color-text-white);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 24px;
}

}