/* inheret fala para o botão herdar a font que está no body */

.botao{
  background: var(--amarelo);
  color: var(--branco);
  width: 100%;
  padding: 1rem 0;
  margin: 0 0 1rem 0;
  text-align: center;
  font-family: inherit;
  font-weight: bold;
  box-shadow: 10px 10px 30px #ffcb473d;
  border: none;
}

.botao--alternativo{
  color: var(--amarelo);
  background-color: unset;
  box-shadow: none;
  border: 1px solid var(--amarelo);
}