/* estilos gerais */

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
}

body{
    font-family: "Scope One", serif;
    font-weight: 300;
    line-height: 1.65;
}

/* Banner */

#banner{
    min-height: 100vh;
    height: 100vh !important;
    overflow: hidden;
    background: #000;
}

#banner img{
    object-fit: cover;
    opacity: 0.4;
    margin: 0 auto;
}

#banner .inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 60%;
    text-align: center;
}

#banner .inner h1{
    font-size: 3.75em;
}

#banner .inner p{
    font-size: 1.7em;
    margin-bottom: 30px;
}

#banner .btn-banner{
    color: #fff;
    background: #3498db;
    padding: 10px 30px;
    border-radius: 4px;
    font-size: 1.25em;
    font-weight: bold;
}

/* Action */

#action{
    background: #fafafa;
    color: #999;
   
}

.action-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0 auto;
    padding: 70px 0;
}

.action-photo img{
    flex: 1 1 260px;
    margin-right: 40px;
    border-radius: 100%;
    box-shadow: 0 0 0 7px #fff, 0px 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.action-text{
    flex: 1 2 260px;
}

.action-text h3{
    color: #000;
    font-size: 1.56em;
    margin: 25px 0;
}

.action-text p{
    margin-bottom: 25px;
}

.action-text a{
    color: #fff;
    background: #3498db;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 1em;
    font-weight: bold;
}

@media(max-width: 600px){
    .action-container{
        text-align: center;
    }

    .action-photo{
        margin: 0 auto;
    }
}

/* Action parte 2 */

#action-2{
    background: #3498db;
    color: #aed6f1;
}

#action-2 .action-text h3{
    color: #fff;
}

#action-2 .action-text a{
    color: #3498db;
    background: #fff;
}

#action-2 .action-photo img{
    box-shadow: 0 0 0 7px #3498db, 0px 0px 0px 8px rgba(255, 255, 255, 0.25);
}

@media(max-width: 600px){
    #action-2 .action-photo{
        order: -1;
    }
}

/* Products */

#products{
    background-color: #fafafa;
    color: #999999;
}

.products-container{
    max-width: 960px;
    margin: 0 auto;
    padding: 70px 0;
}

.products-container  h2{
    color: #000;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 10px;
}

.products-container p{
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 60px;
}

.list-products{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.product{
    flex: 1 1 260px;
    padding: 0px 30px;
}

.product img{
    border-radius: 100%;
    box-shadow: 0 0 0 7px #fff, 0px 0px 0px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.product p{
    text-align: center;
    font-size: 1rem;
    margin: 30px 0;
}

.product a{
    color: #fff;
    background: #3498db;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 4px;
    text-align: center;
}

@media(max-width: 600px){
    .product{
        padding: 30px 30px;
    }

    .product img{
        margin: 0 auto;
    }
}

/* footer */

#footer{
    padding: 60px 0;
    display: block;
    text-align: center;
}


footer .redes ul li{
    display: inline-block;
}

#footer .redes{
    padding: 30px 0;

}


#footer a{
    height: 45px;
    width: 45px;
    display: block;
    color: #999;
    border-radius: 100%;
    font-size: 2rem;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 
    0px 0px 0px 4px #fff, 
    0px 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin: 0px 15px;
}

#footer p{
    font-size: 1rem;
    color: #999;
}