/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    list-style: none;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
    display: block;
}

body{
    font-family: Georgia, serif;
    color: #252525;
}
/* Fim do Reset */

